doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html, charaset=UTF-8")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  body
    // CSS Content
    link(rel='stylesheet', href='/css/style.css')
    // JS Content
    script(src='/js/enchant.js')
    script(src='/js/ui.enchant.js')
    script(src='/js/game.js')
    script(src='/js/map.js')
    block content


